In [4]:
a = 5.5
print(a)

5.5

In [16]:
a='5'
print(a*3)
b= True
print(b)
print(type(b))
c="do's"
d='do\'s'
print(c)
print(d)
print(a,b,c,d)
print('a=',a,'b=',b,'c=',c)
print("a={},b={},c={}".format(a,b,c))

555
True
<class 'bool'>
do's
do's
5 True do's do's
a= 5 b= True c= do's
a=5,b=True,c=do's

In [35]:
a=float(input())
b=int(a)
c=float(b)
c=c-5
d=str(c)
e=bool(d)
print(a,b,c,d,e)
print(type(a),type(b),type(c),type(d),type(e))

 17.5

17.5 17 12.0 12.0 True
<class 'float'> <class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [37]:
a=7
b=4
c=a/b
d=a//b
e=a%b
f=a**b
print(b,c,d,e,f)

4 1.75 1 3 2401

In [43]:
a=4
print(type(a))
a//=3
print(a)
print(type(a))

<class 'int'>
1
<class 'int'>

In [2]:
x="Hi Hari"
"Hi" in x
"Hi" not in x

False

In [4]:
x=['Hi','Hari']
y=['Hi','Hari']
print(x is y)
z=x # z points to x
print(x is z)

False
True

In [22]:
a=['hari',5,15,True,5,'hp',2.5]
print(a)
print(len(a))
print(a[-7:-3])
print(a[1:3])
a.append(['csk','MI'])
print(a)
a.extend(['csk','milne'])
print(a)
a.insert(4,'sam')
a[2]='MI'
print(a)
a[2:4]=[5,6]
print(a)
del(a[0])
print(a)
a.remove(5)
print(a)
a.pop(4)
print(a)
a.clear()
print(a)
del a

['hari', 5, 15, True, 5, 'hp', 2.5]
7
['hari', 5, 15, True]
[5, 15]
['hari', 5, 15, True, 5, 'hp', 2.5, ['csk', 'MI']]
['hari', 5, 15, True, 5, 'hp', 2.5, ['csk', 'MI'], 'csk', 'milne']
['hari', 5, 'MI', True, 'sam', 5, 'hp', 2.5, ['csk', 'MI'], 'csk', 'milne']
['hari', 5, 5, 6, 'sam', 5, 'hp', 2.5, ['csk', 'MI'], 'csk', 'milne']
[5, 5, 6, 'sam', 5, 'hp', 2.5, ['csk', 'MI'], 'csk', 'milne']
[5, 6, 'sam', 5, 'hp', 2.5, ['csk', 'MI'], 'csk', 'milne']
[5, 6, 'sam', 5, 2.5, ['csk', 'MI'], 'csk', 'milne']
[]

In [31]:
t=(2,4,'hi',4.5,'bye')
print(t[3])
t=t+('csk','MI')
print(t)
print(t[3:5])
y=list(t)
print(y)
y[0]='Milne'
t=tuple(y)
print(t)

4.5
(2, 4, 'hi', 4.5, 'bye', 'csk', 'MI')
(4.5, 'bye')
[2, 4, 'hi', 4.5, 'bye', 'csk', 'MI']
('Milne', 4, 'hi', 4.5, 'bye', 'csk', 'MI')

In [41]:
s={2,4,'hi',4.5,'bye'}
print(s)
s.add(5)
print(s)
s.remove(4)
print(s)
s.add(5)
print(s)
s1={2,4,'csk','MI'}
i=s&s1
print(i)
i=s.union(s1)
print(i)
y={0,1,False,'bool'}
print(y)

{2, 4.5, 4, 'hi', 'bye'}
{2, 4.5, 4, 'hi', 5, 'bye'}
{2, 4.5, 'hi', 5, 'bye'}
{2, 4.5, 'hi', 5, 'bye'}
{2}
{2, 4.5, 'hi', 5, 4, 'csk', 'bye', 'MI'}
{0, 1, 'bool'}

In [49]:
student={'Name':'Ram','age':45,'country':'Norway'}
print(student)
print(student['Name'])
print(student['age'])
student['gender']='M'
print(student)
student['Name']='Hari'
print(student)
student.update({'hobby':'soccer','pincode':533033})
print(student)

{'Name': 'Ram', 'age': 45, 'country': 'Norway'}
Ram
45
{'Name': 'Ram', 'age': 45, 'country': 'Norway', 'gender': 'M'}
{'Name': 'Hari', 'age': 45, 'country': 'Norway', 'gender': 'M'}
{'Name': 'Hari', 'age': 45, 'country': 'Norway', 'gender': 'M', 'hobby': 'soccer', 'pincode': 533033}